{% from 'macros/form.html' import render_field %}
{% extends 'base.html' %}
{% if title is defined %}
{% block head %}
<title>{{ title }} | Marketing Agency</title>
{% endblock %}
{% endif %}
{% block body %}
<div class="container-xl">
	<span class="display-1">Campaigns</span>
	<p class="mt-2">Below is the list of campaigns which were added to <span class="fw-bold">client: {{ client.name }} by agency: {{ current_user.name }}</span> marketing agency.</p>
	<button type="button" class="btn btn-primary btn-lg px-5 mb-4" data-bs-toggle="modal" data-bs-target="#addCampaignModal">Add campaign</button>
	{% if not client.is_bank_connected %}
	<button type="button" class="btn btn-warning btn-lg px-5 mb-4" hx-put="{{ url_for('client.connect_bank', client_id=client.id) }}" hx-swap="outerHTML" hx-disabled-elt="this">Connect bank</button>
	{% endif %}
	<button type="button" class="btn btn-warning btn-lg px-5 mb-4" hx-put="{{ url_for('client.get_update_client_link', client_id=client.id) }}" hx-swap="outerHTML" hx-disabled-elt="this">Update Email details</button>
	{% include "list_campaigns.html" ignore missing with context %}
</div>
<!-- Model section -->
<div class="modal fade" id="addCampaignModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addClientModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addClientModalLabel">Add Client</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true"></span>
				</button>
			</div>
			<div class="modal-body">
				<form class="needs-validation" hx-post="{{ url_for('client.list_campaigns', client_id=client.id) }}" hx-target="#campaign-table-body" hx-swap="afterbegin" novalidate>
					{{ form.hidden_tag() }}
					{{ form.name.label(class_="form-label my-2") }}
					{{ render_field(form.name, class_="form-control"+("is-invalid" if form.name.errors else ""), placeholder="My client name") }}
					{{ form.start_date.label(class_="form-label my-2") }}
					{{ render_field(form.start_date, class_="form-control"+("is-invalid" if form.start_date.errors else "")) }}
					{{ form.end_date.label(class_="form-label my-2") }}
					{{ render_field(form.end_date, class_="form-control"+("is-invalid" if form.start_date.errors else "")) }}
					{{ render_field(form.submit, class_="btn btn-success my-2 px-4 py-2") }}
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
