<nav class="navbar navbar-expand-lg bg-info" data-bs-theme="dark">
	<div class="container">
		<a class="navbar-brand" href="#">Marketing Tracker</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse ms-5" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-link {% if (request.url_rule | string).endswith('home') %}active{% endif %}" href="{{ url_for('main.home') }}">Home</a>
				{% if not current_user.is_authenticated %}
				<a class="nav-link {% if (request.url_rule | string).endswith('login') %}active{% endif %}" href="{{ url_for('agency.login') }}">Login</a>
				<a class="nav-link {% if (request.url_rule | string).endswith('register') %}active{% endif %}" href="{{ url_for('agency.register') }}">Register</a>
				{% else %}
				<a class="nav-link {% if (request.url_rule | string).endswith('clients') %}active{% endif %}" href="{{ url_for('agency.list_clients') }}">Clients</a>
				<a class="nav-link {% if (request.url_rule | string).endswith('register') %}active{% endif %}" href="{{ url_for('agency.logout') }}">Logout</a>
				{% endif %}
			</div>
		</div>	 
	</div>
</nav>
