{% extends "base.html" %}
{% block head %}
	<title>SevDesk Main Page| Marketing Agency</title>
{% endblock %}
{% block body %}
<div class="container">
	<section class="my-3">
		<h1 class="display-1">SevDesk Accounts</h1>
		<p class="lead">List of all the Sevdesk Accounts linked to this Marketing Agency<p>
		<p class="lead">To add a new Sevdesk account click on the below button, and enter the API key for the account. Once account is added you can add the invoice by clicking on the customer button on organization name and add Invoice id<p>
		<div class="mt-5">
			<button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#AddAccModel">Add new account</button>
		</div>
	</section>
	<section>
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th scope="col">S.no.</th>
					<th scope="col">Organization Name</th>
					<th scope="col" colspan="3" class="text-center">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for sevacc in sevaccs %}
				<tr>
					<th scope="row">{{ loop.index }}</th>
					<td>{{ sevacc.name }}</td>
					<td class="text-center">
						<button class="btn btn-warning">Edit</button>
					</td>
					<td class="text-center">
						<a href="{{ url_for('main.sev_invoice', sevid=sevacc.id) }}">
						<button class="btn btn-primary">Customers</button>
						</a>
					</td>
					<td class="text-center">
						<button class="btn btn-outline-info">stats</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>
	<!-- Vertically centered modal -->
	<div class="modal fade" id="AddAccModel" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add SevDesk Account</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p> Add API Key of Sevdesk Account in below field and click on check to confirm the Account by organization name</p>
					<form class="row" method="POST">
						<div class="col-8">
						<input class="form-control" id="apikey" name="key" type="text" placeholder="API Key" aria-label="Enter the API Key for SevDesk account">
						</div>
						<div class="col-auto">
							<button type="button" class="btn btn-outline-warning" hx-get="{{ url_for('main.sev_get_org') }}" hx-include="#apikey" hx-target="#orgname" hx-indicator="#indicator">Check</button>
						</div>
						<div class="col-auto my-2" id="orgname">
							<img class="htmx-indicator" id="indicator" src="{{ url_for('static', filename="image/loading.gif") }}">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
